@media all and (max-width: 1199px) {
	.header_area .navbar .nav .nav-item {
		margin-right: 28px;
	}

	.header_area .navbar .nav .nav-item.submenu ul {
		left: auto;
		right: 0px;
	}

	.home_banner_area {
		min-height: 728px;
		margin-bottom: 120px;
	}

	.home_banner_area .banner_inner {
		min-height: 650px;
	}


	.banner_content .media {
		display: block;
	}

	.home_banner_area .banner_content {
		max-width: 500px;
		margin: auto;
	}

	.home_banner_area .banner_inner .banner_content .media .d-flex {
		padding-right: 0px;
		display: block;
		width: 100%;
	}

	.home_banner_area .banner_inner .banner_content .media .d-flex img {
		width: 100%;
		height: 100%;
	}

	.home_banner_area .banner_inner .banner_content .media .media-body {
		margin-top: 30px;
	}

	.home_banner_area .container {
		bottom: -130px;
	}

	.profile_inner .personal_text {
		padding-left: 0px;
	}

	.home_banner_area.blog_banner .banner_inner {
		min-height: 728px;
	}

	.home_banner_area.blog_banner {
		margin-bottom: 0px;
	}
}

@media all and (max-width:991px) {

	/* Main Menu Area css
	============================================================================================ */
	.navbar-toggler {
		border: none;
		border-radius: 0px;
		padding: 0px;
		cursor: pointer;
		margin-top: 27px;
		margin-bottom: 23px;
	}
	.navbar-toggler:focus {
		outline: none;
	}

	.header_area .navbar {
		background: #000 !important;
	}

	.navbar-toggler[aria-expanded="false"] span:nth-child(2) {
		opacity: 1;
	}

	.navbar-toggler[aria-expanded="true"] span:nth-child(2) {
		opacity: 0;
	}

	.navbar-toggler[aria-expanded="true"] span:first-child {
		transform: rotate(-45deg);
		position: relative;
		top: 7.5px;
	}

	.navbar-toggler[aria-expanded="true"] span:last-child {
		transform: rotate(45deg);
		bottom: 6px;
		position: relative;
	}

	.navbar-toggler span {
		display: block;
		width: 25px;
		height: 3px;
		background: #fff;
		margin: auto;
		margin-bottom: 4px;
		transition: all 400ms linear;
		cursor: pointer;
	}
	.header_area + section, .header_area + div {
		margin-top: 0px;
	}
	.header_area + section, .header_area + div {
		margin-top: 117px;
	}
    .header_area .navbar .navbar-nav{
        padding: 0px;
    }
    .header_area .navbar .navbar-nav .nav-item .nav-link{
        line-height: 40px;
        margin-right: 0px;
        display: block;
		border-bottom: 1px solid #ededed33;
		border-radius: 0px;
    }
	.header_area.navbar_fixed .main_menu .navbar .navbar-nav .nav-item .nav-link {
		line-height: 40px;
	}
	.header_area .navbar .navbar-nav .nav-item {
		margin-right: 0px;
	}
	.header_area.navbar_fixed .main_menu {
		display: none;
	}
	/* End Main Menu Area css*/
	.home_banner_area .donation_inner{
		margin-bottom: -30px;
	}
	.home_banner_area .dontation_item{
		max-width: 350px;
		margin: auto;
	}
	/* Footer Area css */
	.footer-area .col-sm-6{
		margin-bottom: 30px;
	}
	.footer_area .f_widget{
		margin-bottom: 30px;
	}
	.footer_area .footer_inner{
		margin-bottom: -30px;
	}
	/* End End Footer Area css
	============================================================================================ */
	.welcome_text{
		margin-bottom: 30px;
	}
	.banner_area .box_1620 {
		bottom: -71px;
	}
	.banner_area {
		margin-bottom: 71px;
	}
	.profile_inner .personal_text {
		padding-top: 30px;
	}

}